<!DOCTYPE html>
<html>
  <head>
    <title>Tst</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <p> User logged in: <%= current_user.email if user_signed_in? %> </p>

    <%= yield %>
    
    <% console %>
  </body>
</html>
